/dts-v1/;
/plugin/;

&{/} {
    #address-cells = <2>;
    #size-cells = <2>;
    i2s_8ch_0: i2s@ff300000 {
	compatible = "rockchip,rk3308-i2s-tdm";
	reg = <0x0 0xff300000 0x0 0x1000>;
	interrupts = <GIC_SPI 48 IRQ_TYPE_LEVEL_HIGH>;
	clocks = <&cru SCLK_I2S0_8CH_TX>, <&cru SCLK_I2S0_8CH_RX>, <&cru HCLK_I2S0_8CH>, <&cru SCLK_I2S0_8CH_TX_OUT>,
		<&mclk_i2s0_8ch_in>, <&clk_44>, <&clk_48>, <&cru PLL_VPLL1>;
	clock-names = 	"mclk_tx", "mclk_rx", "hclk", "clock_out",
		"mclk_ext", "clk_44", "clk_48", "hclk_root";
	dmas = <&dmac1 0>, <&dmac1 1>;
	dma-names = "tx", "rx";
	resets = <&cru SRST_I2S0_8CH_TX_M>, <&cru SRST_I2S0_8CH_RX_M>;
	reset-names = "tx-m", "rx-m";
	rockchip,cru = <&cru>;
	rockchip,grf = <&grf>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2s_8ch_0_sclktx
	         &i2s_8ch_0_sclkrx
	         &i2s_8ch_0_lrcktx
	         &i2s_8ch_0_lrckrx
	         &i2s_8ch_0_sdi0
	         &i2s_8ch_0_sdi1
	         &i2s_8ch_0_sdi2
	         &i2s_8ch_0_sdi3
	         &i2s_8ch_0_sdo0
	         &i2s_8ch_0_sdo1
	         &i2s_8ch_0_sdo2
	         &i2s_8ch_0_sdo3
	         &i2s_8ch_0_mclk>;
	status = "okay";

	#sound-dai-cells = <0>;


//	rockchip,trcm-sync-rx-only;

//!!! for S0
	rockchip,i2s-tx-route = <3>,<1>,<2>,<0>;
	my,s2mono;

	my,hclk_root_f;
	my,hclk_root_x = <2048>;

//!!! mclk in
#if 0
	my,mclk_external;
	assigned-clocks = <&cru SCLK_I2S0_8CH_TX_MUX>, <&cru SCLK_I2S0_8CH_RX_MUX>;
	assigned-clock-parents = <&mclk_i2s0_8ch_in>, <&mclk_i2s0_8ch_in>;
#else
//	my,clk_x = <8>;
	my,clk_f = <512>;
	my,tx_x = <1>;
	my,rx_x = <1>;
	assigned-clocks = <&cru SCLK_I2S0_8CH_RX>;
	assigned-clock-parents = <&cru SCLK_I2S0_8CH_TX_MUX>;
#endif
//!!! mclk in


//	fmclk44 = <22579200>;
//	fmclk48 = <24576000>;
////	assigned-clocks = <&cru SCLK_I2S0_8CH_TX_MUX>, <&cru SCLK_I2S0_8CH_RX_MUX>;
////	assigne-clock-rates = <24576000>;
////	assigned-clock-parents = <&gen33m>, <&gen33m>;
    };
};

